Caronte Client/Web References/Caronte/Caronte.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBase64EncodedResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="URI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBase64EncodedResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBase64EncodedResourceResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="GetBase64EncodedResourceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBase64EncodedResource" />
  </wsdl:message>
  <wsdl:message name="GetBase64EncodedResourceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBase64EncodedResourceResponse" />
  </wsdl:message>
  <wsdl:portType name="CaronteSoap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBase64EncodedResource">
      <wsdl:input message="tns:GetBase64EncodedResourceSoapIn" />
      <wsdl:output message="tns:GetBase64EncodedResourceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaronteSoap" type="tns:CaronteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBase64EncodedResource">
      <soap:operation soapAction="http://tempuri.org/GetBase64EncodedResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaronteSoap12" type="tns:CaronteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBase64EncodedResource">
      <soap12:operation soapAction="http://tempuri.org/GetBase64EncodedResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Caronte">
    <wsdl:port name="CaronteSoap" binding="tns:CaronteSoap">
      <soap:address location="http://localhost:52838/Caronte%20Service/Caronte.asmx" />
    </wsdl:port>
    <wsdl:port name="CaronteSoap12" binding="tns:CaronteSoap12">
      <soap12:address location="http://localhost:52838/Caronte%20Service/Caronte.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>