Caronte Project/Caronte Windows Client/Web References/CaronteService/Caronte.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBase64StringFromResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="URI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBase64StringFromResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBase64StringFromResourceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetBase64StringFromResourceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBase64StringFromResource" />
  </wsdl:message>
  <wsdl:message name="GetBase64StringFromResourceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBase64StringFromResourceResponse" />
  </wsdl:message>
  <wsdl:portType name="CaronteSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBase64StringFromResource">
      <wsdl:input message="tns:GetBase64StringFromResourceSoapIn" />
      <wsdl:output message="tns:GetBase64StringFromResourceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaronteSoap" type="tns:CaronteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBase64StringFromResource">
      <soap:operation soapAction="http://tempuri.org/GetBase64StringFromResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaronteSoap12" type="tns:CaronteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBase64StringFromResource">
      <soap12:operation soapAction="http://tempuri.org/GetBase64StringFromResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Caronte">
    <wsdl:port name="CaronteSoap" binding="tns:CaronteSoap">
      <soap:address location="http://localhost:4921/Caronte%20Web%20Service/Caronte.asmx" />
    </wsdl:port>
    <wsdl:port name="CaronteSoap12" binding="tns:CaronteSoap12">
      <soap12:address location="http://localhost:4921/Caronte%20Web%20Service/Caronte.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>